.container {
    display: flex;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--accent);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

/* ===== MAIN ===== */
.main {
    flex: 1;
    padding: 30px;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.contact-card {
    background: var(--card);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    
}

.contact-card h3 {
    color: var(--accent);
    margin-bottom: 15px;
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

textarea {
    resize: none;
    height: 120px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}