<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password | DeepNIDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>

<body>

<div class="auth-card">
    <h2>Reset Password</h2>
    <p>Create a new secure password</p>

    <form method="POST" action="/reset_password">

        <div class="input-group">
            <label>New Password</label>
            <input type="password" name="password" placeholder="Enter new password" required>
        </div>

        <button type="submit" class="auth-btn">Update Password</button>
    </form>

    <div class="auth-links">
        <a href="/login">Back to Login</a>
    </div>
</div>

</body>
</html>
